#!/bin/bash
export OS_USERNAME=
export OS_PASSWORD=
export OS_AUTH_URL=https://keystone.wjv-1.neo.id:443/v3
export OS_PROJECT_ID=
export OS_USER_DOMAIN_NAME=neo.id
export OS_IDENTITY_API_VERSION=3
export OS_IMAGE_API_VERSION=2
